body{
    background-color: #FFFFFF;
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
/* HEADER */
.logo{
    color: var(--NAVY-BLUE, #4D5AE5 );
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-item{
color: var(--IRIS,#2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
/* NAV-LIST */
.nav-list{
    color: #2E2F42;
    width: 48px;
    height: 48px;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-list:hover {
    color: #404BBF;
}
.nav-list:focus {
    color:  #404bbf;
}
/* ADDRESS */
.address{
    font-style: normal;
}
.add-link-contact {
    color: #434455;
    width: 153px;
    height: 24px;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
.add-link-contact:hover {
    color: #404BBF;
}
.add-link-contact:focus {
    color: #404BBF;
}

/* MAIN PART */
/* PAGE TITLE */
.page-title{
    background-color:#2E2F42 ;
}
.page-title-text{
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 1.12px;
}
.btn{
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.btn-title{
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
}
.btn:hover {
    background-color: #404BBF ;
}
.btn:focus {
    background-color: #404BBF;
}

/* BENEFITS */
.benefits-title{
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;

}
.benefits-title-text{
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* OUR TEAM */
.team {
    background-color: #F4F4FD;
}
.team-title{
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.team-list{
    background-color: #FFFFFF;
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-img{
    width: 264px;
    height: 260px;
}
.team-subtitle{
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.team-desk{
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* PORTFOLIO */
.portfolio-title{
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.portfolio-list-item{
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}
.portfolio-img{
    width: 360px;
    height: 300px;
}
.portfolio-subtitle{
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.portfolio-desk{
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* FOOTER */
.footer{
    background-color: #2E2F42;
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
}
.logo-footer{
    display: flex;
    width: 44px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    color: var(--CLOUD,#4D5AE5 );
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-footer-item{
    display: flex;
    width: 71px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    color: var(--IRIS, #f4f4fd);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.footer-text{
    width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}